@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import "katex/dist/katex.min.css";

:root {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.markdown-body, .prose {
  font-family: inherit;
}

.katex .cjk_fallback {
  font-family: ui-sans-serif, system-ui, sans-serif !important;
}
